:root {
  --lightred: hsl(356, 100%, 66%);
  --verylightred: hsl(355, 100%, 74%);
  --verydarkblue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --grayishblue: hsl(240, 2%, 79%);
  --verydarkgrayishblue: hsl(207, 13%, 34%);
  --verydarkblackblue: hsl(240, 10%, 16%);
  --verylightred: hsl(13, 100%, 72%);
  --lightred: hsl(353, 100%, 62%);
  --verydarkgrayblue: hsl(237, 17%, 21%);
  --verydarkdesaturatedblue: hsl(237, 23%, 32%);
}